.logo{
	font-size: 30px;
	color: #ff0000;
	margin-top: 04px;
}
.container{
	display: grid;
	grid-template-columns:  40px 120px 90px 90px  90px 90px 200px 90px;
	text-align: center;
	/*margin-right: 200px;*/
	position: fixed;
	margin-left: 150px;
}
.home{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
	color:#ff0000;
}
.About{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
}
.Team{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
}
.Events{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
}
.Sing{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
}
.Log{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;

}
.h-img{
	width:993px;
	height: 400px;
	margin-top: 50px;
	margin-left: 150px;
	margin-bottom: 250px;
}
p{
	color: #ffffff;
	font-size: 40px;
	margin-top: -500px;
	margin-left: 440px;
}
.about{
	color: #ffffff;
	font-size: 15px;
	margin-top: -40px;
	margin-left: 440px;
}
.para{
	color: #ffffff;
	font-size: 15px;
	margin-top: -8px;
	margin-left: 460px;
}
.button1{
	border:2px solid red;
	border-radius: 40px;
	padding: 10px;
	background-color: #ff0000;
	margin-left: 550px;
	margin-top: 30px;
}
.waste{
	margin-top: 100px;
	background-color: #ffffff;
	height: 40px;
}
